.draggable {
    /* Indicate the element draggable */
    cursor: move;

    /* It will be positioned absolutely */
    position: absolute;

    /* Doesn't allow to select the content inside */
    user-select: none;
}


.tableRow1-col3,.tableRow1-col2,.tableRow1-col1 {
    padding: 0;
    margin: 0;
    width: 4rem;
}

.fullCalculator {
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    background:linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);
}

.tableRow0 button{
    background-color: #00702f;
    color:white;
}

.tableRow1-col4 button,.tableRow1 button, .tableRow1-col2-dot button{
    width: 4rem;
    background-color: #065ea1;
    color: white;
}

.tableRow1-col3-equal button {
    background-color: #a10606;
    color: white;
}

.tableRow1-col4 {
    padding: 0;
    margin: 0;
    
}
.tableRow4 .tableRow1-col4 button{
    height: 4rem;
}
button{
    margin: 5px;
    border-radius: 10px;
    border-color:1px solid #f2f2f2;
    text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
    /* background: linear-gradient(
    top,
    #f9f9f9 0%,
    #d2d2d2 80%,
    #c0c0c0 100%
  ); */
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
    0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25),
    -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);
}

button:hover,button:focus {
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
      0 2px 35px rgba(#444, 0.3), 2px 2px 4px rgba(#444, 0.25),
      -2px 2px 4px rgba(#444, 0.25), 0 7px 4px rgba(#444, 0.1);
    transform: translateY(2px);
}

button:active {
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
      0 0px 30px rgba(#444, 0.15), 2px 2px 4px rgba(#444, 0.25),
      -2px 2px 4px rgba(#444, 0.25), 0 0px 4px rgba(#444, 0.25);
    transform: translateY(4px);
}
/* td,tr{
    border: 2px solid black;
} */

label {
    display: inline-block;
    width: 4em;
  }
button {
    width: 4rem;
    /* border: none; */
    
}

